/* ==========================
Common Css styles Start 
===================== */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1440px;
    margin: auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
:root{
    --primary-color:#FF900E;
    --secondary-color: #FFF4E7;
    --dark-color: #131313;
    --white-color: #ffffff;
    --para-color: #727272;
}
p{
    font-weight: 400;
    color: var(--para-color);
    font-size: 16px;
    line-height: 26px;
}
.btn{
    background-color: var(--primary-color);
    padding: 12px 18px;
    border-radius:5px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    transition: 0.4s;
}
.btn:hover{
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: 0.4s;
}


/* ==========================
Common Css styles End 
===================== */

/* ==========================
Header Part styles Start 
===================== */



/* banner part style  */
#header-part{
    background-color: #FFF4E7;
    height: 1320px;
    display: flex;
}
#header-part .banner-details{
    width: 860px;
    margin: auto;
    text-align: center;
}
.banner-details h2{
    font-weight: 700;
    font-size: 64px;
    color: var(--dark-color);
    line-height: 75px;
}
.banner-details p{
    margin: 20px auto;
}
#header-part .image{
    margin-top: 50px;
}
/* ==========================
Header Part styles End 
===================== */

/* ==========================
Features Part styles Start 
===================== */
#features{
    margin: 100px 0;
}
#features .features{
    display: flex;
    align-items: center;
}
#features .team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 24px;
}
#features .details{
    padding: 0 80px;
}
#features .details h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: var(--para-color);
}
#features .details .f-bold{
    font-weight: 700;
    color: var(--dark-color);
}
#features .details .f-primary{
    color:var(--primary-color);
    font-weight: 700;
}
#features .details p{
    margin: 20px 0;
}
/* ==========================
Features Part styles End 
===================== */

/* ==========================
Features Bottom Part styles Start 
===================== */
.feature-bottom{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-bottom .left-side {
    width: 640px;
}
.feature-bottom-title{
    border-left: 5px solid var(--primary-color);
    font-weight: 700;
    font-size: 45px;
    color: var(--dark-color);
    padding-left: 20px;
    line-height: 53px
}
.feature-box > div {
    margin-bottom: 24px;
    border-radius: 10px;
    padding: 26px;
    -webkit-box-shadow: 2px 0px 40px -9px rgba(214,210,214,1);
    -moz-box-shadow: 2px 0px 40px -9px rgba(214,210,214,1);
    box-shadow: 2px 0px 40px -9px rgba(214,210,214,1);
}
.feature-box h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--dark-color);
}
.feature-bottom .left-side p {
    margin: 10px 0px;
}
.feature-bottom .right-side{
    position: relative;
}
.experience{
    background-color: var(--primary-color);
    width: 300px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;  
    position: absolute;
    bottom: -60px;
    left: -60px;
}
.experience h2{
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    color: var(--white-color);
}
.experience  p{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: var(--white-color);
}
/* ==========================
Features Bottom Part styles End 
===================== */


/* ==========================
Facts section styles start 
===================== */
#facts{
    margin: 140px 0 100px 0;
}
#facts h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px; 
    color: var(--dark-color);
    margin-bottom: 20px;
}
.fact-description{
    width: 550px;
}
.fact-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    padding: 0 30px;
}
.fact-item{
    width: 240px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    padding: 40px 0;
}
.fact-item h3{
    font-weight: 600;
    font-size: 45px;
    color: var(--dark-color);
}
.fact-item p{
    font-weight: 600;
font-size: 20px;
line-height: 23px;
}
/* ==========================
Facts section styles End 
===================== */



